@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #475569;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-size: 16px;
    font-weight: 300;
    color: var(--foreground);
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) transparent;
    scroll-behavior: smooth;
}
